// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';

body {
  background: #e2ebf3;
  position: relative;
}

.container {
  margin: 20px auto;
}

footer {
  .footer {
    width: 400px;
    margin: 0 auto;
    p {
      color: white;
      margin: 10px auto;
      text-align: center;
      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}