<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">PieSpace</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/">Home</a></li>
      <li><a href="#/single">Profile</a></li>
      <li><a href="#/"></a></li>
    </ul>
  </section>
</nav>

<aside class="events" ui-view="events"></aside>
<aside class="thumbs" ui-view="thumbs"></aside>

<section class="container" ui-view="content"></section>
<aside class="music" ui-view="music"></aside>


<footer class="top-bar">
  <div class="footer">
    <p><a href="http://www.brzinski.com">Brzinski</a> &copy; 2015</p>
  </div>
</footer>